<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Ossec_magazine</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/modern-business.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style >
     .ribbon {
   position: relative;
   top: -16px;
   right: -706px;
}

  .pied {
    font-weight: bold;
    max-width: 100%;
    margin: 50px auto;
    font-size: 0.7em;
    text-align:center ;
}
</style>

</head>

<body style="background:#B0E0E6">
  <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
          <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="../Accueil/index.html"><img src="logo.png" width=80px></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="../Accueil/index.html">Home</a>
                    </li>
                    <li>
                        <a href="../Tunihack/index.html">Tunihack</a>
                    </li>
                    <li>
                        <a href="../shellcodingchallenge/index .html">Shell coding challenge</a>
                    </li>
                    <li >
                        <a href="../magazine/magazine.html"  >Magazine</a>
                       
                    </li>
                    <li >
                        <a href="../Formations/Formations.html" >Formations </a>
                       
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Events <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="../software freedom day /software freedom day.html">Software freedom day</a>
                            </li>
                            <li>
                                <a href="../Lpic challenge/lpic challenge .html">Lpic challenge</a>
                            </li>
                           
                            <li>
                                <a href="../install party linux /install party linux.html">Install Party Linux</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Team <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="../team : executive office/team 2012-2013.html">Executive Office 2012-2013 </a>
                            </li>
                            <li>
                               <a href="../team : executive office/team 2013-2014.html">Executive Office 2013-2014 </a>
                            </li>
                            <li>
                               <a href="../team : executive office/team 2014-2015.html">Executive Office 2014-2015 </a>
                            </li>
                            <li>
                               <a href="../team : executive office/team 2015-2016.html">Executive Office 2015-2016</a>
                            </li>
                            <li>
                               <a href="../team : executive office/team 2016-2017.html">Executive Office 2016-2017 </a>
                            </li>
                            <li>
                               <a href="../team : executive office/team 2017-2018.html">Executive Office 2017-2018 </a>
                            </li>
                        </ul>
                    </li>
                  
                    <li>
                        <a href="about.html">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <!-- Page Content -->
  
        <!-- /.row -->


         
  <div class="container">


        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header" style="text-align: center"> <img src="icon.png" width="200px"> <strong style="color:#152588" ><span style="font-size:38px">OPEN SOURCE SOFTWARE MAGAZINE</span></strong><img src="icon.png" width="200px">
                </h1>              
            </div>
        </div>

        <!-- Portfolio Item Row -->
        <div class="row">

<div class="alert alert-info">
                
        
                
   <p> <img src="join.png" class="icon" width="100" height="60"> : Have you always wanted to be a writer. Are you intrested in open source software?? Or you are a good designer!! Then you should absoulutely <a href="#" class="alert-link">join us!!</a>.</p>
   
  </div> 


            <div class="col-md-8">
               
<br>
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" width="200px">
                    <!-- Indicators -->
                    <ol class="carousel-indicators" width="200px">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="4"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <img src="06.jpg" style="width:750px;height:500px;" alt="">
                        </div>
                        <div class="item">
                            <img class="img-responsive" src="open.png"  style="width:750px;height:500px;" alt="">
            
                        </div>
                        <div class="item">
                            <img class="img-responsive" src="ian5.jpg"  style="width:750px;height:500px;" alt="">
                            <div class="carousel-caption">
                                <h3 style="text-align:left;color:#b30000">People of the Open Source:</h3>
                            <p style="color:black; font-size:200%"> The OSSEC family mourns 
                                the loss of Ian Murdock </p>
                        </div>
                        </div>
                        <div class="item">
                            <img class="img-responsive" src="open-source.jpg" style="width:750px;height:500px;" alt="">
                        </div>
                         <div class="item">
                            <img class="img-responsive" src="03.jpg" style="width:750px;height:500px;" alt="">
                            <div class="carousel-caption">
                                 <h2 style="text-align:left; color:#b30000;">Tricks:</h>
                                <h3 style="color:black; font-size:200%"> Forensics Sciences</h3>
                            </div>
                        </div>
                        </div>
                        

                         
                
        
              


                   

                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a> 
                    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>



                   </div>
               

            <div class="col-md-4">
               <br>
                <h3 style="text-align: center"> <b>Open source everywhere !</b></h3>
                <p style="font-size:18px">
In order to keep you up to date with the rapidly evolving IT world and walk you through the actuality and the tips of an Open World, we launched our own magazine, which is the first one specialized in Open Source here in Tunisia. Written with love and passion for Open Source with the contribution of a large community, here is our baby in its sixth edition. We hope you'll enjoy as much as we do. Your feedback will be highly appreciated. </p>

                <br>

                
              
            </div>

        </div>
        <!-- /.row -->
        <br>
        <!-- Related Projects Row -->
        <div class="row">

         

            <div class="col-lg-12">
              <h2 style="color:#152588"> <strong>Partners:<strong></h2> <hr>
             </div> 
            </div>
            <div class="alert alert-info">
                
        
                
    <h1 style="text-align: center"><img src="contact.png" class="icon" width="300" height="60"></h1> <p> You company/organization is an open source advocator? You are interested in our magazine and want to support us? It will be an honor to have your support.<a href="#" class="alert-link">contact us now!!</a>.</p>
   
  </div> 


             <table>
            <tr>

                 <td> <h3> <img src="gold-medal.png" class="icon">  Linux professional institute Maghreb</h3></td>
                 <td>     <h3><img src="silver-medal.png" class="icon"> Ecole Nationale de Science Informatique <br><br>



























                 </h3></td>
            </tr>
            <tr>       
            <td>    <a href="http://www.lpi-maghreb.org/" target="_blank"> 
                <img class="img-rounded" src="lpim.gif" width="90%" height="105">
              </a> </td>
            <td>  <a href="http://www.ensi.rnu.tn" target="_blank"> 
                <img class="img-rounded" src="background.jpg" width="500px" height="105">
              </a><br>
              <br>
            </td>
            </tr>
            </table>  

 
            <div class="col-lg-12">
                <h2 class="page-header" style="color:#152588"><strong>Previous Editions:</strong></h2>
            </div>
            
            <div class="row">
            <div class="col-md-4 img-portfolio">
                    <h2 > <b>---- April 2017 ----<b> </h2>
                    <img class="img-responsive img-hover " src="06.jpg" width="250px" alt="">
               
              <div class="btn-group">
                <a class="btn btn-success" href="http://goo.gl/7A27HM" target="_blank">
                  <span class="glyphicon glyphicon-download-alt"></span> Download
                </a>
                <button class="btn btn-primary" ng-click="open('mag06', 56)">
                  Preview <span class="glyphicon glyphicon-search"></span>
                </button>
              </div>
            </div>

         <div class="col-md-4 img-portfolio">
                
                    
               
                
                    <h2><b>--- March 2016 ---<b></h2>
                    <img class="img-responsive img-hover " src="05.jpg" width="250px" alt="">
                      
                   <div class="btn-group">
                <a class="btn btn-success" href="https://goo.gl/NgZUHv" target="_blank">
                  <span class="glyphicon glyphicon-download-alt"></span> Download
                </a>
                <button class="btn btn-primary" ng-click="open('mag06', 56)">
                  Preview <span class="glyphicon glyphicon-search"></span>
                </button>
              </div>
            </div>

           
         <div class="col-md-4 img-portfolio">
                
                    <h2><b>--- August 2015 ---</b></h2>
                    <img class="img-responsive img-hover " src="04 .jpg" width="250px"alt="">
                      <div class="btn-group">
                <a class="btn btn-success" href="https://goo.gl/eCiCBw" target="_blank">
                  <span class="glyphicon glyphicon-download-alt"></span> Download
                </a>
                <button class="btn btn-primary" ng-click="open('mag06', 56)">
                  Preview <span class="glyphicon glyphicon-search"></span>
                </button>
              </div>
            </div>
        </div>
        <div class="row">
         <div class="col-md-4 img-portfolio">
                
                    <h2><b>--- Sept 2014 ---<b></h2>
                    <img class="img-responsive img-hover " src="03.jpg" width="250px" alt="">
             
                   <div class="btn-group">
                <a class="btn btn-success" href="https://goo.gl/KASYXk" target="_blank">
                  <span class="glyphicon glyphicon-download-alt"></span> Download
                </a>
                <button class="btn btn-primary" ng-click="open('mag06', 56)">
                  Preview <span class="glyphicon glyphicon-search"></span>
                </button>
              </div>
            </div>
           
         <div class="col-md-4 img-portfolio">
                    <h2><b>--- July 2014 ---</b></h2>
                    <img class="img-responsive img-hover " src="02.jpg" width="250px" alt="">
                
                  <div class="btn-group">
                <a class="btn btn-success" href="http://goo.gl/I6KHD5" target="_blank">
                  <span class="glyphicon glyphicon-download-alt"></span> Download
                </a>
                <button class="btn btn-primary" ng-click="open('mag06', 56)">
                  Preview <span class="glyphicon glyphicon-search"></span>
                </button>
              </div>
           </div>
         

         <div class="col-md-4 img-portfolio">
                    <h2><b>--- June 2012 ---</b></h2>
                    <img class="img-responsive img-hover " src="01.jpg" width="250px" alt="">
           
                   <div class="btn-group">
                <a class="btn btn-success" href="http://goo.gl/7kvL4Y" target="_blank">
                  <span class="glyphicon glyphicon-download-alt"></span> Download
                </a>
                <button class="btn btn-primary" ng-click="open('mag06', 56)">
                  Preview <span class="glyphicon glyphicon-search"></span>
                </button>
              </div>
            </div>
     
         </div>
        </div>

       
                    
        <!-- /.row -->

        <hr>


        <!-- Footer -->
       

                 <footer >
         <p class="pied" >
         <br>
         Powered by <a href="http://www.ossec.tn/">OSSEC</a> © 2017</br>
         </p>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
          <script async="" src="OSSEC%20Magazine_files/analytics.js"></script><script type="text/javascript" src="OSSEC%20Magazine_files/jquery.js"></script>
        <script type="text/javascript" src="OSSEC%20Magazine_files/bootstrap.js"></script>
        <script type="text/javascript" src="OSSEC%20Magazine_files/angular.js"></script>
        <script type="text/javascript" src="OSSEC%20Magazine_files/ui-bootstrap-tpls.js"></script>
        <script type="text/javascript" src="OSSEC%20Magazine_files/turn.js"></script>
        <script type="text/javascript" src="OSSEC%20Magazine_files/app.js"></script>
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
          ga('create', 'UA-54899083-1', 'auto');
          ga('send', 'pageview');
        </script>

</body>

</html>
